# Rust
.cargo/config.toml
target/
kd-server-data
profiles

# Windows/VS
*.user
kd-input/.vs/
kd-input/x64/
*.tlog


# MacOS/XCode
*.a
.DS_Store
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcuserstate
clients/ios/ios.xcodeproj/xcuserdata
clients/ios/kodomobile.xcodeproj/xcuserdata
